<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lsw.onbid.mapper.CartMapper">

    <insert id="insert">
        INSERT INTO cart (item_id)
        VALUES (#{itemId})
    </insert>

    <select id="findAll" resultType="com.lsw.onbid.model.CartItem">
        SELECT c.id AS id,
               i.cltr_nm AS cltrNm,
               i.goods_price AS goodsPrice,
               i.sido AS sido,
               i.dtl_addr AS dtlAddr
        FROM cart c
        JOIN item i ON c.item_id = i.id
        ORDER BY c.id DESC
    </select>

    <delete id="deleteSelected">
        DELETE FROM cart WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="clearAll">
        TRUNCATE TABLE cart
    </delete>

</mapper>
