<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lsw.onbid.mapper.HistoryMapper">

    <!-- 테이블 비우기 -->
    <update id="truncate">
    DELETE FROM history;
</update>


    <!-- 저장 -->
    <insert id="insert" parameterType="com.lsw.onbid.model.History">
        INSERT INTO history
        (cltr_no, pbct_begn_dtm, pbct_cls_dtm,
         open_price, uscbid_cnt, iqry_cnt)
        VALUES
        (#{cltrNo}, #{pbctBegnDtm}, #{pbctClsDtm},
         #{openPrice}, #{uscbidCnt}, #{iqryCnt})
    </insert>

    <!-- 특정 물건의 이력 전체 -->
    <select id="findByCltrNo" resultType="com.lsw.onbid.model.History">
        SELECT *
        FROM history
        WHERE cltr_no = #{cltrNo}
        ORDER BY id DESC
    </select>

    <!-- 최신 이력 1개 -->
    <select id="findLatestByCltrNo" resultType="com.lsw.onbid.model.History">
        SELECT *
        FROM history
        WHERE cltr_no = #{cltrNo}
        ORDER BY id DESC
        LIMIT 1
    </select>

</mapper>
