<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lsw.onbid.mapper.ItemMapper">

    <update id="truncate">
    DELETE FROM item;
</update>

    <!-- PK 조회 -->
    <select id="findByPk" resultType="com.lsw.onbid.model.Item">
        SELECT *
        FROM item
        WHERE cltr_no = #{cltrNo}
          AND cltr_mnmt_no = #{cltrMnmtNo}
        LIMIT 1
    </select>

    <!-- 🔥 검색 (카테고리 없음) -->
    <select id="searchNoCate" resultType="com.lsw.onbid.model.Item">
        SELECT *
        FROM item
        WHERE 1 = 1

        <if test="keyword != null and keyword != ''">
            AND (cltr_nm LIKE CONCAT('%', #{keyword}, '%')
             OR  sido LIKE CONCAT('%', #{keyword}, '%')
             OR  dtl_addr LIKE CONCAT('%', #{keyword}, '%'))
        </if>

        <if test="minPrice != null">
            AND goods_price &gt;= #{minPrice}
        </if>

        <if test="maxPrice != null">
            AND goods_price &lt;= #{maxPrice}
        </if>

        <!-- 🔥 여기 중요: item_id → id -->
        ORDER BY id DESC
    </select>
    <select id="findById" resultType="com.lsw.onbid.model.Item">
    SELECT *
    FROM item
    WHERE id = #{id}
	</select>


    <!-- 신규 저장 -->
    <insert id="insert" parameterType="com.lsw.onbid.model.Item">
        INSERT INTO item (
            cltr_mnmt_no,
            cltr_no,
            cltr_nm,
            dpsl_mtd_cd,
            dpsl_mtd_nm,
            ctgr_hirk_id,
            ctgr_hirk_nm,
            ctgr_hirk_id_mid,
            ctgr_hirk_nm_mid,
            sido,
            dtl_addr,
            goods_price
        ) VALUES (
            #{cltrMnmtNo},
            #{cltrNo},
            #{cltrNm},
            #{dpslMtdCd},
            #{dpslMtdNm},
            #{ctgrHirkId},
            #{ctgrHirkNm},
            #{ctgrHirkIdMid},
            #{ctgrHirkNmMid},
            #{sido},
            #{dtlAddr},
            #{goodsPrice}
        )
    </insert>

    <!-- 업데이트 -->
    <update id="update" parameterType="com.lsw.onbid.model.Item">
        UPDATE item SET
            cltr_nm = #{cltrNm},
            dpsl_mtd_cd = #{dpslMtdCd},
            dpsl_mtd_nm = #{dpslMtdNm},
            ctgr_hirk_id = #{ctgrHirkId},
            ctgr_hirk_nm = #{ctgrHirkNm},
            ctgr_hirk_id_mid = #{ctgrHirkIdMid},
            ctgr_hirk_nm_mid = #{ctgrHirkNmMid},
            sido = #{sido},
            dtl_addr = #{dtlAddr},
            goods_price = #{goodsPrice}
        WHERE cltr_no = #{cltrNo}
          AND cltr_mnmt_no = #{cltrMnmtNo}
    </update>

</mapper>
